@import '../variables'; //importing mixins from this import.

@media (min-width: 1281px) {
    .acButtons{
        height: 2rem;
        display: flex;
        gap: 5px;
        margin-bottom: 2rem;
        div{
            flex: 1;
            display: grid;
            place-content: center;
        }
        div > button{
            border: none;
            background-color: rgb(94, 197, 228);
            font-family: $roboto-font;
            height: 1.8rem;
            border-radius: 3px;
            width: 3.5rem;
            &:hover{
                transform:  translateY(-7px);
                box-shadow: 5px 7px $fourth-color;
            }
        }
        .can{
            background-color: rgb(233, 74, 74);
        }
    }
}