@import '../variables'; //importing mixins from this import.


@media (min-width: 1281px){
    .in-container{
        padding: 1.5rem;
        .f-name{
            @include input-container;
        }
        .l-name{
            @include input-container;
        }
        .e{
            @include input-container;
        }
        .num{
            @include input-container;
        }
        .ed{
            width: 65%;
            background-color: $secondary-color;
            height: 3.5rem;
            display: flex;
            transition: translate ease-in 1s;
            border-bottom: solid 2px $fourth-color;
            margin-bottom: 2rem;
            &:hover{
                transform: translateY(2px);
            }
            .e-text{
      
                font-size: 1.6rem;
                display: grid;
                place-content: center;
                justify-content: start;
            }
            .e-icon{
                background-image: url('../../assets/add.svg');
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: center;
                width: 20%;
            }
        }
        .ed-contain{
            margin-top: 1rem;
            .u{
                @include input-container
            }
            .cour{
                @include input-container
            }
            .from{
                @include input-container
            }
            .to{
                @include input-container
            }
        }

        .ex{
            width: 65%;
            background-color: $secondary-color;
            height: 3.5rem;
            display: flex;
            transition: translate ease-in 1s;
            border-bottom: solid 3px $tertiary-color;
            &:hover{
                transform: translateY(2px);
            }
            .e-text{
      
                font-size: 1.6rem;
                display: grid;
                place-content: center;
                justify-content: start;
            }
            .e-icon{
                background-image: url('../../assets/add.svg');
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: center;
                width: 20%;
            }
        }
        .ex-contain{
            margin-top: 1rem;
            .c{
                @include input-container
            }
            .p{
                @include input-container
            }
            .r{
                @include input-container
            }
            .from{
                @include input-container
            }
            .to{
                @include input-container
            }
        }
    }
}